footer {
  text-align: center;

  h4 {
    margin: 0;
  }

  .company {
    color: $clr-primary-500;
  }

  .footer-text {
    font-weight: 400;
    margin-top: 1.25rem;
    text-transform: uppercase;

    color: $clr-white;
  }

  .social-icon {
    color: $clr-white;

    font-size: 2rem;
    margin-right: 1rem;

    &:hover {
      color: $clr-black;
      -webkit-text-stroke: 1px $clr-primary-500;
    }
  }
}
