nav {
  height: 5rem;
  font-weight: bolder;
  box-shadow: $shadow-lg;

  .navbar {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-links {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
